In [1]:
import numpy as np

## FITBIT DATA ANALYSIS - FIELDS WE HAVE

- Date
- Step Count
- Mood (Categorical)
- Calories Burned
- Hours of Sleep
- Feeling Active(Categorical)

In [11]:
!pip install --upgrade gdown #gdown stands for google drive download. our fitbit file is my google drive account

Requirement already satisfied: gdown in c:\users\n.rahman\appdata\local\anaconda3\lib\site-packages (5.1.0)
Requirement already satisfied: beautifulsoup4 in c:\users\n.rahman\appdata\local\anaconda3\lib\site-packages (from gdown) (4.12.2)
Requirement already satisfied: filelock in c:\users\n.rahman\appdata\local\anaconda3\lib\site-packages (from gdown) (3.9.0)
Requirement already satisfied: requests[socks] in c:\users\n.rahman\appdata\local\anaconda3\lib\site-packages (from gdown) (2.31.0)
Requirement already satisfied: tqdm in c:\users\n.rahman\appdata\local\anaconda3\lib\site-packages (from gdown) (4.65.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\n.rahman\appdata\local\anaconda3\lib\site-packages (from beautifulsoup4->gdown) (2.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\n.rahman\appdata\local\anaconda3\lib\site-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\n.rahman\appdata\local\anaconda3\lib\site-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\n.rahman\appdata\local\anaconda3\lib\site-packages (from requests[socks]->gdown) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\n.rahman\appdata\local\anaconda3\lib\site-packages (from requests[socks]->gdown) (2023.7.22)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\n.rahman\appdata\local\anaconda3\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\users\n.rahman\appdata\local\anaconda3\lib\site-packages (from tqdm->gdown) (0.4.6)

In [17]:
!gdown  https://drive.google.com/uc?id=1_879eR1gj9IWVZ_VvyTWP9AKhBxnYd6l

Downloading...
From: https://drive.google.com/uc?id=1_879eR1gj9IWVZ_VvyTWP9AKhBxnYd6l
To: C:\Users\n.rahman\fit.txt

  0%|          | 0.00/3.43k [00:00<?, ?B/s]
100%|##########| 3.43k/3.43k [00:00<?, ?B/s]

In [19]:
data = np.loadtxt('fit.txt',dtype="str")
data

array([['06-10-2017', '5464', 'Neutral', '181', '5', 'Inactive'],
       ['07-10-2017', '6041', 'Sad', '197', '8', 'Inactive'],
       ['08-10-2017', '25', 'Sad', '0', '5', 'Inactive'],
       ['09-10-2017', '5461', 'Sad', '174', '4', 'Inactive'],
       ['10-10-2017', '6915', 'Neutral', '223', '5', 'Active'],
       ['11-10-2017', '4545', 'Sad', '149', '6', 'Inactive'],
       ['12-10-2017', '4340', 'Sad', '140', '6', 'Inactive'],
       ['13-10-2017', '1230', 'Sad', '38', '7', 'Inactive'],
       ['14-10-2017', '61', 'Sad', '1', '5', 'Inactive'],
       ['15-10-2017', '1258', 'Sad', '40', '6', 'Inactive'],
       ['16-10-2017', '3148', 'Sad', '101', '8', 'Inactive'],
       ['17-10-2017', '4687', 'Sad', '152', '5', 'Inactive'],
       ['18-10-2017', '4732', 'Happy', '150', '6', 'Active'],
       ['19-10-2017', '3519', 'Sad', '113', '7', 'Inactive'],
       ['20-10-2017', '1580', 'Sad', '49', '5', 'Inactive'],
       ['21-10-2017', '2822', 'Sad', '86', '6', 'Inactive'],
       ['22-10-2017', '181', 'Sad', '6', '8', 'Inactive'],
       ['23-10-2017', '3158', 'Neutral', '99', '5', 'Inactive'],
       ['24-10-2017', '4383', 'Neutral', '143', '4', 'Inactive'],
       ['25-10-2017', '3881', 'Neutral', '125', '5', 'Inactive'],
       ['26-10-2017', '4037', 'Neutral', '129', '6', 'Inactive'],
       ['27-10-2017', '202', 'Neutral', '6', '8', 'Inactive'],
       ['28-10-2017', '292', 'Neutral', '9', '5', 'Inactive'],
       ['29-10-2017', '330', 'Happy', '10', '6', 'Inactive'],
       ['30-10-2017', '2209', 'Neutral', '72', '5', 'Inactive'],
       ['31-10-2017', '4550', 'Happy', '150', '8', 'Active'],
       ['01-11-2017', '4435', 'Happy', '141', '5', 'Inactive'],
       ['02-11-2017', '4779', 'Happy', '156', '4', 'Inactive'],
       ['03-11-2017', '1831', 'Happy', '57', '5', 'Inactive'],
       ['04-11-2017', '2255', 'Happy', '72', '4', 'Inactive'],
       ['05-11-2017', '539', 'Happy', '17', '5', 'Active'],
       ['06-11-2017', '5464', 'Happy', '181', '4', 'Inactive'],
       ['07-11-2017', '6041', 'Neutral', '197', '3', 'Inactive'],
       ['08-11-2017', '4068', 'Happy', '131', '2', 'Inactive'],
       ['09-11-2017', '4683', 'Happy', '154', '9', 'Inactive'],
       ['10-11-2017', '4033', 'Happy', '137', '5', 'Inactive'],
       ['11-11-2017', '6314', 'Happy', '193', '6', 'Active'],
       ['12-11-2017', '614', 'Happy', '19', '4', 'Active'],
       ['13-11-2017', '3149', 'Happy', '101', '5', 'Active'],
       ['14-11-2017', '4005', 'Happy', '139', '8', 'Active'],
       ['15-11-2017', '4880', 'Happy', '164', '4', 'Active'],
       ['16-11-2017', '4136', 'Happy', '137', '5', 'Active'],
       ['17-11-2017', '705', 'Happy', '22', '6', 'Active'],
       ['18-11-2017', '570', 'Neutral', '17', '5', 'Active'],
       ['19-11-2017', '269', 'Happy', '9', '6', 'Active'],
       ['20-11-2017', '4275', 'Happy', '145', '5', 'Inactive'],
       ['21-11-2017', '5999', 'Happy', '192', '6', 'Inactive'],
       ['22-11-2017', '4421', 'Happy', '146', '5', 'Inactive'],
       ['23-11-2017', '6930', 'Happy', '234', '6', 'Inactive'],
       ['24-11-2017', '5195', 'Happy', '167', '5', 'Inactive'],
       ['25-11-2017', '546', 'Happy', '16', '6', 'Inactive'],
       ['26-11-2017', '493', 'Happy', '17', '7', 'Active'],
       ['27-11-2017', '995', 'Happy', '32', '6', 'Active'],
       ['28-11-2017', '1163', 'Neutral', '35', '7', 'Active'],
       ['29-11-2017', '6676', 'Sad', '220', '6', 'Active'],
       ['30-11-2017', '3608', 'Happy', '116', '5', 'Active'],
       ['01-12-2017', '774', 'Happy', '23', '6', 'Active'],
       ['02-12-2017', '1421', 'Happy', '44', '7', 'Active'],
       ['03-12-2017', '4064', 'Happy', '131', '8', 'Active'],
       ['04-12-2017', '2725', 'Happy', '86', '8', 'Active'],
       ['05-12-2017', '5934', 'Happy', '194', '7', 'Active'],
       ['06-12-2017', '1867', 'Happy', '60', '8', 'Active'],
       ['07-12-2017', '3721', 'Sad', '121', '5', 'Active'],
       ['08-12-2017', '2374', 'Neutral', '76', '4', 'Inactive'],
       ['09-12-2017', '2909', 'Neutral', '93', '3', 'Active'],
       ['10-12-2017', '1648', 'Sad', '53', '3', 'Active'],
       ['11-12-2017', '799', 'Sad', '25', '4', 'Inactive'],
       ['12-12-2017', '7102', 'Neutral', '227', '5', 'Active'],
       ['13-12-2017', '3941', 'Neutral', '125', '5', 'Active'],
       ['14-12-2017', '7422', 'Happy', '243', '5', 'Active'],
       ['15-12-2017', '437', 'Neutral', '14', '3', 'Active'],
       ['16-12-2017', '1231', 'Neutral', '39', '4', 'Active'],
       ['17-12-2017', '1696', 'Sad', '55', '4', 'Inactive'],
       ['18-12-2017', '4921', 'Neutral', '158', '5', 'Active'],
       ['19-12-2017', '221', 'Sad', '7', '5', 'Active'],
       ['20-12-2017', '6500', 'Neutral', '213', '5', 'Active'],
       ['21-12-2017', '3575', 'Neutral', '116', '5', 'Active'],
       ['22-12-2017', '4061', 'Sad', '129', '5', 'Inactive'],
       ['23-12-2017', '651', 'Sad', '21', '5', 'Inactive'],
       ['24-12-2017', '753', 'Sad', '28', '4', 'Inactive'],
       ['25-12-2017', '518', 'Sad', '16', '3', 'Inactive'],
       ['26-12-2017', '5537', 'Happy', '180', '4', 'Active'],
       ['27-12-2017', '4108', 'Neutral', '138', '5', 'Active'],
       ['28-12-2017', '5376', 'Happy', '176', '5', 'Active'],
       ['29-12-2017', '3066', 'Neutral', '99', '4', 'Active'],
       ['30-12-2017', '177', 'Sad', '5', '5', 'Inactive'],
       ['31-12-2017', '36', 'Sad', '1', '3', 'Inactive'],
       ['01-01-2018', '299', 'Sad', '10', '3', 'Inactive'],
       ['02-01-2018', '1447', 'Neutral', '47', '3', 'Inactive'],
       ['03-01-2018', '2599', 'Neutral', '84', '2', 'Inactive'],
       ['04-01-2018', '702', 'Sad', '23', '3', 'Inactive'],
       ['05-01-2018', '133', 'Sad', '4', '2', 'Inactive'],
       ['06-01-2018', '153', 'Happy', '0', '8', 'Inactive'],
       ['07-01-2018', '500', 'Neutral', '0', '5', 'Active'],
       ['08-01-2018', '2127', 'Neutral', '0', '5', 'Inactive'],
       ['09-01-2018', '2203', 'Happy', '0', '5', 'Active']], dtype='<U10')

## EDA - Exploratory Data Analysis

In [29]:
data[0:5]

array([['06-10-2017', '5464', 'Neutral', '181', '5', 'Inactive'],
       ['07-10-2017', '6041', 'Sad', '197', '8', 'Inactive'],
       ['08-10-2017', '25', 'Sad', '0', '5', 'Inactive'],
       ['09-10-2017', '5461', 'Sad', '174', '4', 'Inactive'],
       ['10-10-2017', '6915', 'Neutral', '223', '5', 'Active']],
      dtype='<U10')

In [21]:
data.shape #shape of data

(96, 6)

In [22]:
data.ndim #type of dimension

2

In [23]:
data.size #no of total elements

576

In [25]:
len(data) #no of rows

96

In [26]:
data[0]

array(['06-10-2017', '5464', 'Neutral', '181', '5', 'Inactive'],
      dtype='<U10')

In [27]:
data[0,1]

'5464'

In [30]:
data[:5,1] #take all rows from 0-4 exluding 5, first rows all values. (R,C) - R stands for row and C stands for column

array(['5464', '6041', '25', '5461', '6915'], dtype='<U10')

In [31]:
#say we to fetch all the dates. how?

data[:,0]

array(['06-10-2017', '07-10-2017', '08-10-2017', '09-10-2017',
       '10-10-2017', '11-10-2017', '12-10-2017', '13-10-2017',
       '14-10-2017', '15-10-2017', '16-10-2017', '17-10-2017',
       '18-10-2017', '19-10-2017', '20-10-2017', '21-10-2017',
       '22-10-2017', '23-10-2017', '24-10-2017', '25-10-2017',
       '26-10-2017', '27-10-2017', '28-10-2017', '29-10-2017',
       '30-10-2017', '31-10-2017', '01-11-2017', '02-11-2017',
       '03-11-2017', '04-11-2017', '05-11-2017', '06-11-2017',
       '07-11-2017', '08-11-2017', '09-11-2017', '10-11-2017',
       '11-11-2017', '12-11-2017', '13-11-2017', '14-11-2017',
       '15-11-2017', '16-11-2017', '17-11-2017', '18-11-2017',
       '19-11-2017', '20-11-2017', '21-11-2017', '22-11-2017',
       '23-11-2017', '24-11-2017', '25-11-2017', '26-11-2017',
       '27-11-2017', '28-11-2017', '29-11-2017', '30-11-2017',
       '01-12-2017', '02-12-2017', '03-12-2017', '04-12-2017',
       '05-12-2017', '06-12-2017', '07-12-2017', '08-12-2017',
       '09-12-2017', '10-12-2017', '11-12-2017', '12-12-2017',
       '13-12-2017', '14-12-2017', '15-12-2017', '16-12-2017',
       '17-12-2017', '18-12-2017', '19-12-2017', '20-12-2017',
       '21-12-2017', '22-12-2017', '23-12-2017', '24-12-2017',
       '25-12-2017', '26-12-2017', '27-12-2017', '28-12-2017',
       '29-12-2017', '30-12-2017', '31-12-2017', '01-01-2018',
       '02-01-2018', '03-01-2018', '04-01-2018', '05-01-2018',
       '06-01-2018', '07-01-2018', '08-01-2018', '09-01-2018'],
      dtype='<U10')

In [34]:
#now lets transpose the data so that it will easy to access all fields indivdually easy. 

data_t = data.T
data_t #now all rows are of indivdual field records. dates in 0 index, steps in 1st index and so on

array([['06-10-2017', '07-10-2017', '08-10-2017', '09-10-2017',
        '10-10-2017', '11-10-2017', '12-10-2017', '13-10-2017',
        '14-10-2017', '15-10-2017', '16-10-2017', '17-10-2017',
        '18-10-2017', '19-10-2017', '20-10-2017', '21-10-2017',
        '22-10-2017', '23-10-2017', '24-10-2017', '25-10-2017',
        '26-10-2017', '27-10-2017', '28-10-2017', '29-10-2017',
        '30-10-2017', '31-10-2017', '01-11-2017', '02-11-2017',
        '03-11-2017', '04-11-2017', '05-11-2017', '06-11-2017',
        '07-11-2017', '08-11-2017', '09-11-2017', '10-11-2017',
        '11-11-2017', '12-11-2017', '13-11-2017', '14-11-2017',
        '15-11-2017', '16-11-2017', '17-11-2017', '18-11-2017',
        '19-11-2017', '20-11-2017', '21-11-2017', '22-11-2017',
        '23-11-2017', '24-11-2017', '25-11-2017', '26-11-2017',
        '27-11-2017', '28-11-2017', '29-11-2017', '30-11-2017',
        '01-12-2017', '02-12-2017', '03-12-2017', '04-12-2017',
        '05-12-2017', '06-12-2017', '07-12-2017', '08-12-2017',
        '09-12-2017', '10-12-2017', '11-12-2017', '12-12-2017',
        '13-12-2017', '14-12-2017', '15-12-2017', '16-12-2017',
        '17-12-2017', '18-12-2017', '19-12-2017', '20-12-2017',
        '21-12-2017', '22-12-2017', '23-12-2017', '24-12-2017',
        '25-12-2017', '26-12-2017', '27-12-2017', '28-12-2017',
        '29-12-2017', '30-12-2017', '31-12-2017', '01-01-2018',
        '02-01-2018', '03-01-2018', '04-01-2018', '05-01-2018',
        '06-01-2018', '07-01-2018', '08-01-2018', '09-01-2018'],
       ['5464', '6041', '25', '5461', '6915', '4545', '4340', '1230',
        '61', '1258', '3148', '4687', '4732', '3519', '1580', '2822',
        '181', '3158', '4383', '3881', '4037', '202', '292', '330',
        '2209', '4550', '4435', '4779', '1831', '2255', '539', '5464',
        '6041', '4068', '4683', '4033', '6314', '614', '3149', '4005',
        '4880', '4136', '705', '570', '269', '4275', '5999', '4421',
        '6930', '5195', '546', '493', '995', '1163', '6676', '3608',
        '774', '1421', '4064', '2725', '5934', '1867', '3721', '2374',
        '2909', '1648', '799', '7102', '3941', '7422', '437', '1231',
        '1696', '4921', '221', '6500', '3575', '4061', '651', '753',
        '518', '5537', '4108', '5376', '3066', '177', '36', '299',
        '1447', '2599', '702', '133', '153', '500', '2127', '2203'],
       ['Neutral', 'Sad', 'Sad', 'Sad', 'Neutral', 'Sad', 'Sad', 'Sad',
        'Sad', 'Sad', 'Sad', 'Sad', 'Happy', 'Sad', 'Sad', 'Sad', 'Sad',
        'Neutral', 'Neutral', 'Neutral', 'Neutral', 'Neutral', 'Neutral',
        'Happy', 'Neutral', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy',
        'Happy', 'Happy', 'Neutral', 'Happy', 'Happy', 'Happy', 'Happy',
        'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Neutral',
        'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy',
        'Happy', 'Happy', 'Neutral', 'Sad', 'Happy', 'Happy', 'Happy',
        'Happy', 'Happy', 'Happy', 'Happy', 'Sad', 'Neutral', 'Neutral',
        'Sad', 'Sad', 'Neutral', 'Neutral', 'Happy', 'Neutral',
        'Neutral', 'Sad', 'Neutral', 'Sad', 'Neutral', 'Neutral', 'Sad',
        'Sad', 'Sad', 'Sad', 'Happy', 'Neutral', 'Happy', 'Neutral',
        'Sad', 'Sad', 'Sad', 'Neutral', 'Neutral', 'Sad', 'Sad', 'Happy',
        'Neutral', 'Neutral', 'Happy'],
       ['181', '197', '0', '174', '223', '149', '140', '38', '1', '40',
        '101', '152', '150', '113', '49', '86', '6', '99', '143', '125',
        '129', '6', '9', '10', '72', '150', '141', '156', '57', '72',
        '17', '181', '197', '131', '154', '137', '193', '19', '101',
        '139', '164', '137', '22', '17', '9', '145', '192', '146', '234',
        '167', '16', '17', '32', '35', '220', '116', '23', '44', '131',
        '86', '194', '60', '121', '76', '93', '53', '25', '227', '125',
        '243', '14', '39', '55', '158', '7', '213', '116', '129', '21',
        '28', '16', '180', '138', '176', '99', '5', '1', '10', '47',
        '84', '23', '4', '0', '0', '0', '0'],
       ['5', '8', '5', '4', '5', '6', '6', '7', '5', '6', '8', '5', '6',
        '7', '5', '6', '8', '5', '4', '5', '6', '8', '5', '6', '5', '8',
        '5', '4', '5', '4', '5', '4', '3', '2', '9', '5', '6', '4', '5',
        '8', '4', '5', '6', '5', '6', '5', '6', '5', '6', '5', '6', '7',
        '6', '7', '6', '5', '6', '7', '8', '8', '7', '8', '5', '4', '3',
        '3', '4', '5', '5', '5', '3', '4', '4', '5', '5', '5', '5', '5',
        '5', '4', '3', '4', '5', '5', '4', '5', '3', '3', '3', '2', '3',
        '2', '8', '5', '5', '5'],
       ['Inactive', 'Inactive', 'Inactive', 'Inactive', 'Active',
        'Inactive', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
        'Inactive', 'Inactive', 'Active', 'Inactive', 'Inactive',
        'Inactive', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
        'Inactive', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
        'Active', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
        'Active', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
        'Inactive', 'Active', 'Active', 'Active', 'Active', 'Active',
        'Active', 'Active', 'Active', 'Active', 'Inactive', 'Inactive',
        'Inactive', 'Inactive', 'Inactive', 'Inactive', 'Active',
        'Active', 'Active', 'Active', 'Active', 'Active', 'Active',
        'Active', 'Active', 'Active', 'Active', 'Active', 'Inactive',
        'Active', 'Active', 'Inactive', 'Active', 'Active', 'Active',
        'Active', 'Active', 'Inactive', 'Active', 'Active', 'Active',
        'Active', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
        'Active', 'Active', 'Active', 'Active', 'Inactive', 'Inactive',
        'Inactive', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
        'Inactive', 'Active', 'Inactive', 'Active']], dtype='<U10')

In [37]:
data_t[0] #all dates.

array(['06-10-2017', '07-10-2017', '08-10-2017', '09-10-2017',
       '10-10-2017', '11-10-2017', '12-10-2017', '13-10-2017',
       '14-10-2017', '15-10-2017', '16-10-2017', '17-10-2017',
       '18-10-2017', '19-10-2017', '20-10-2017', '21-10-2017',
       '22-10-2017', '23-10-2017', '24-10-2017', '25-10-2017',
       '26-10-2017', '27-10-2017', '28-10-2017', '29-10-2017',
       '30-10-2017', '31-10-2017', '01-11-2017', '02-11-2017',
       '03-11-2017', '04-11-2017', '05-11-2017', '06-11-2017',
       '07-11-2017', '08-11-2017', '09-11-2017', '10-11-2017',
       '11-11-2017', '12-11-2017', '13-11-2017', '14-11-2017',
       '15-11-2017', '16-11-2017', '17-11-2017', '18-11-2017',
       '19-11-2017', '20-11-2017', '21-11-2017', '22-11-2017',
       '23-11-2017', '24-11-2017', '25-11-2017', '26-11-2017',
       '27-11-2017', '28-11-2017', '29-11-2017', '30-11-2017',
       '01-12-2017', '02-12-2017', '03-12-2017', '04-12-2017',
       '05-12-2017', '06-12-2017', '07-12-2017', '08-12-2017',
       '09-12-2017', '10-12-2017', '11-12-2017', '12-12-2017',
       '13-12-2017', '14-12-2017', '15-12-2017', '16-12-2017',
       '17-12-2017', '18-12-2017', '19-12-2017', '20-12-2017',
       '21-12-2017', '22-12-2017', '23-12-2017', '24-12-2017',
       '25-12-2017', '26-12-2017', '27-12-2017', '28-12-2017',
       '29-12-2017', '30-12-2017', '31-12-2017', '01-01-2018',
       '02-01-2018', '03-01-2018', '04-01-2018', '05-01-2018',
       '06-01-2018', '07-01-2018', '08-01-2018', '09-01-2018'],
      dtype='<U10')

In [39]:
data_t[1] #all steps

array(['5464', '6041', '25', '5461', '6915', '4545', '4340', '1230', '61',
       '1258', '3148', '4687', '4732', '3519', '1580', '2822', '181',
       '3158', '4383', '3881', '4037', '202', '292', '330', '2209',
       '4550', '4435', '4779', '1831', '2255', '539', '5464', '6041',
       '4068', '4683', '4033', '6314', '614', '3149', '4005', '4880',
       '4136', '705', '570', '269', '4275', '5999', '4421', '6930',
       '5195', '546', '493', '995', '1163', '6676', '3608', '774', '1421',
       '4064', '2725', '5934', '1867', '3721', '2374', '2909', '1648',
       '799', '7102', '3941', '7422', '437', '1231', '1696', '4921',
       '221', '6500', '3575', '4061', '651', '753', '518', '5537', '4108',
       '5376', '3066', '177', '36', '299', '1447', '2599', '702', '133',
       '153', '500', '2127', '2203'], dtype='<U10')

In [41]:
data_t.shape #now we have 6 rows and 96 columns

(6, 96)

In [46]:
#lets apply the concept of packing and unpacking instead of doing row indexing and calling indivdual rows. 

date,steps_count,mood,calories_burned,hours_sleep,activity_status = data_t

#this will assign each row data into this variables accordingly
#additionally we convert this into its respective dtype. currently all in string as we uploaded in string

In [44]:
date

array(['06-10-2017', '07-10-2017', '08-10-2017', '09-10-2017',
       '10-10-2017', '11-10-2017', '12-10-2017', '13-10-2017',
       '14-10-2017', '15-10-2017', '16-10-2017', '17-10-2017',
       '18-10-2017', '19-10-2017', '20-10-2017', '21-10-2017',
       '22-10-2017', '23-10-2017', '24-10-2017', '25-10-2017',
       '26-10-2017', '27-10-2017', '28-10-2017', '29-10-2017',
       '30-10-2017', '31-10-2017', '01-11-2017', '02-11-2017',
       '03-11-2017', '04-11-2017', '05-11-2017', '06-11-2017',
       '07-11-2017', '08-11-2017', '09-11-2017', '10-11-2017',
       '11-11-2017', '12-11-2017', '13-11-2017', '14-11-2017',
       '15-11-2017', '16-11-2017', '17-11-2017', '18-11-2017',
       '19-11-2017', '20-11-2017', '21-11-2017', '22-11-2017',
       '23-11-2017', '24-11-2017', '25-11-2017', '26-11-2017',
       '27-11-2017', '28-11-2017', '29-11-2017', '30-11-2017',
       '01-12-2017', '02-12-2017', '03-12-2017', '04-12-2017',
       '05-12-2017', '06-12-2017', '07-12-2017', '08-12-2017',
       '09-12-2017', '10-12-2017', '11-12-2017', '12-12-2017',
       '13-12-2017', '14-12-2017', '15-12-2017', '16-12-2017',
       '17-12-2017', '18-12-2017', '19-12-2017', '20-12-2017',
       '21-12-2017', '22-12-2017', '23-12-2017', '24-12-2017',
       '25-12-2017', '26-12-2017', '27-12-2017', '28-12-2017',
       '29-12-2017', '30-12-2017', '31-12-2017', '01-01-2018',
       '02-01-2018', '03-01-2018', '04-01-2018', '05-01-2018',
       '06-01-2018', '07-01-2018', '08-01-2018', '09-01-2018'],
      dtype='<U10')

In [59]:
steps_count = steps_count.astype("int")
steps_count

array([5464, 6041,   25, 5461, 6915, 4545, 4340, 1230,   61, 1258, 3148,
       4687, 4732, 3519, 1580, 2822,  181, 3158, 4383, 3881, 4037,  202,
        292,  330, 2209, 4550, 4435, 4779, 1831, 2255,  539, 5464, 6041,
       4068, 4683, 4033, 6314,  614, 3149, 4005, 4880, 4136,  705,  570,
        269, 4275, 5999, 4421, 6930, 5195,  546,  493,  995, 1163, 6676,
       3608,  774, 1421, 4064, 2725, 5934, 1867, 3721, 2374, 2909, 1648,
        799, 7102, 3941, 7422,  437, 1231, 1696, 4921,  221, 6500, 3575,
       4061,  651,  753,  518, 5537, 4108, 5376, 3066,  177,   36,  299,
       1447, 2599,  702,  133,  153,  500, 2127, 2203])

In [61]:
calories_burned  = calories_burned.astype("int")
calories_burned

array([181, 197,   0, 174, 223, 149, 140,  38,   1,  40, 101, 152, 150,
       113,  49,  86,   6,  99, 143, 125, 129,   6,   9,  10,  72, 150,
       141, 156,  57,  72,  17, 181, 197, 131, 154, 137, 193,  19, 101,
       139, 164, 137,  22,  17,   9, 145, 192, 146, 234, 167,  16,  17,
        32,  35, 220, 116,  23,  44, 131,  86, 194,  60, 121,  76,  93,
        53,  25, 227, 125, 243,  14,  39,  55, 158,   7, 213, 116, 129,
        21,  28,  16, 180, 138, 176,  99,   5,   1,  10,  47,  84,  23,
         4,   0,   0,   0,   0])

In [51]:
mood

array(['Neutral', 'Sad', 'Sad', 'Sad', 'Neutral', 'Sad', 'Sad', 'Sad',
       'Sad', 'Sad', 'Sad', 'Sad', 'Happy', 'Sad', 'Sad', 'Sad', 'Sad',
       'Neutral', 'Neutral', 'Neutral', 'Neutral', 'Neutral', 'Neutral',
       'Happy', 'Neutral', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Neutral', 'Happy', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Neutral',
       'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Neutral', 'Sad', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Happy', 'Happy', 'Sad', 'Neutral', 'Neutral',
       'Sad', 'Sad', 'Neutral', 'Neutral', 'Happy', 'Neutral', 'Neutral',
       'Sad', 'Neutral', 'Sad', 'Neutral', 'Neutral', 'Sad', 'Sad', 'Sad',
       'Sad', 'Happy', 'Neutral', 'Happy', 'Neutral', 'Sad', 'Sad', 'Sad',
       'Neutral', 'Neutral', 'Sad', 'Sad', 'Happy', 'Neutral', 'Neutral',
       'Happy'], dtype='<U10')

In [62]:
hours_sleep = hours_sleep.astype("int")
hours_sleep

array([5, 8, 5, 4, 5, 6, 6, 7, 5, 6, 8, 5, 6, 7, 5, 6, 8, 5, 4, 5, 6, 8,
       5, 6, 5, 8, 5, 4, 5, 4, 5, 4, 3, 2, 9, 5, 6, 4, 5, 8, 4, 5, 6, 5,
       6, 5, 6, 5, 6, 5, 6, 7, 6, 7, 6, 5, 6, 7, 8, 8, 7, 8, 5, 4, 3, 3,
       4, 5, 5, 5, 3, 4, 4, 5, 5, 5, 5, 5, 5, 4, 3, 4, 5, 5, 4, 5, 3, 3,
       3, 2, 3, 2, 8, 5, 5, 5])

In [54]:
activity_status

array(['Inactive', 'Inactive', 'Inactive', 'Inactive', 'Active',
       'Inactive', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
       'Inactive', 'Inactive', 'Active', 'Inactive', 'Inactive',
       'Inactive', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
       'Inactive', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
       'Active', 'Inactive', 'Inactive', 'Inactive', 'Inactive', 'Active',
       'Inactive', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
       'Active', 'Active', 'Active', 'Active', 'Active', 'Active',
       'Active', 'Active', 'Active', 'Inactive', 'Inactive', 'Inactive',
       'Inactive', 'Inactive', 'Inactive', 'Active', 'Active', 'Active',
       'Active', 'Active', 'Active', 'Active', 'Active', 'Active',
       'Active', 'Active', 'Active', 'Inactive', 'Active', 'Active',
       'Inactive', 'Active', 'Active', 'Active', 'Active', 'Active',
       'Inactive', 'Active', 'Active', 'Active', 'Active', 'Inactive',
       'Inactive', 'Inactive', 'Inactive', 'Active', 'Active', 'Active',
       'Active', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
       'Inactive', 'Inactive', 'Inactive', 'Inactive', 'Active',
       'Inactive', 'Active'], dtype='<U10')

In [66]:
#now lets start analysing. We will do analysis on basis on mood field

mood.dtype

dtype('<U10')

In [67]:
#to know the unique values in the mood field we can use as below

np.unique(mood)

array(['Happy', 'Neutral', 'Sad'], dtype='<U10')

In [72]:
#lets do fancy indexing and explore the data

mood == "Happy"

array([False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False,  True, False,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False,  True, False, False, False, False, False, False,
       False, False,  True, False, False,  True])

In [73]:
mood[mood=="Happy"]

array(['Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Happy', 'Happy', 'Happy'], dtype='<U10')

In [75]:
len(mood)

96

In [76]:
len(mood[mood=="Happy"]) #so out of 96 days, he was happy for 40 days

40

In [80]:
#now lets say we want the steps count for those happy mood. So its the same condition we pass as index to steps_count field

steps_count_happy = steps_count[mood=="Happy"]
steps_count_happy

array([4732,  330, 4550, 4435, 4779, 1831, 2255,  539, 5464, 4068, 4683,
       4033, 6314,  614, 3149, 4005, 4880, 4136,  705,  269, 4275, 5999,
       4421, 6930, 5195,  546,  493,  995, 3608,  774, 1421, 4064, 2725,
       5934, 1867, 7422, 5537, 5376,  153, 2203])

In [78]:
len(steps_count[mood=="Happy"])

40

In [81]:
#same i can do for other mood as well like for sad and neutral

steps_count_sad = steps_count[mood=="Sad"]
steps_count_sad

array([6041,   25, 5461, 4545, 4340, 1230,   61, 1258, 3148, 4687, 3519,
       1580, 2822,  181, 6676, 3721, 1648,  799, 1696,  221, 4061,  651,
        753,  518,  177,   36,  299,  702,  133])

In [82]:
steps_count_neutral = steps_count[mood=="Neutral"]
steps_count_neutral

array([5464, 6915, 3158, 4383, 3881, 4037,  202,  292, 2209, 6041,  570,
       1163, 2374, 2909, 7102, 3941,  437, 1231, 4921, 6500, 3575, 4108,
       3066, 1447, 2599,  500, 2127])

In [84]:
#lets take the mean or average of steps_count for every mood and analyse

print("Average Steps when mood is Happy- ",np.mean(steps_count_happy))
print("Average Steps when mood is Sad- ",np.mean(steps_count_sad))
print("Average Steps when mood is Neutral- ",np.mean(steps_count_neutral))

Average Steps when mood is Happy-  3392.725
Average Steps when mood is Sad-  2103.0689655172414
Average Steps when mood is Neutral-  3153.777777777778

In [87]:
#lets round the nos.

print("Average Steps when mood is Happy- ",np.round(np.mean(steps_count_happy),2))
print("Average Steps when mood is Sad- ",np.round(np.mean(steps_count_sad),2))
print("Average Steps when mood is Neutral- ",np.round(np.mean(steps_count_neutral),2))


#so its clear when the mood is happy they walk more steps and when sad, the steps count is less

Average Steps when mood is Happy-  3392.72
Average Steps when mood is Sad-  2103.07
Average Steps when mood is Neutral-  3153.78

### now lets analyse data based on the sleep pattern

In [88]:
hours_sleep

array([5, 8, 5, 4, 5, 6, 6, 7, 5, 6, 8, 5, 6, 7, 5, 6, 8, 5, 4, 5, 6, 8,
       5, 6, 5, 8, 5, 4, 5, 4, 5, 4, 3, 2, 9, 5, 6, 4, 5, 8, 4, 5, 6, 5,
       6, 5, 6, 5, 6, 5, 6, 7, 6, 7, 6, 5, 6, 7, 8, 8, 7, 8, 5, 4, 3, 3,
       4, 5, 5, 5, 3, 4, 4, 5, 5, 5, 5, 5, 5, 4, 3, 4, 5, 5, 4, 5, 3, 3,
       3, 2, 3, 2, 8, 5, 5, 5])

In [89]:
len(hours_sleep)

96

In [91]:
hours_sleep_happy = hours_sleep[mood=="Happy"]
hours_sleep_happy

array([6, 6, 8, 5, 4, 5, 4, 5, 4, 2, 9, 5, 6, 4, 5, 8, 4, 5, 6, 6, 5, 6,
       5, 6, 5, 6, 7, 6, 5, 6, 7, 8, 8, 7, 8, 5, 4, 5, 8, 5])

In [92]:
hours_sleep_sad = hours_sleep[mood=="Sad"]
hours_sleep_sad

array([8, 5, 4, 6, 6, 7, 5, 6, 8, 5, 7, 5, 6, 8, 6, 5, 3, 4, 4, 5, 5, 5,
       4, 3, 5, 3, 3, 3, 2])

In [93]:
hours_sleep_neutral = hours_sleep[mood=="Neutral"]
hours_sleep_neutral

array([5, 5, 5, 4, 5, 6, 8, 5, 5, 3, 5, 7, 4, 3, 5, 5, 3, 4, 5, 5, 5, 5,
       4, 3, 2, 5, 5])

In [95]:
#lets take the average sleep when on different moods

print("Average Sleep when mood is Happy- ",np.round(np.mean(hours_sleep_happy),2))
print("Average Sleep when mood is Sad- ",np.round(np.mean(hours_sleep_sad),2))
print("Average Sleep when mood is Neutral- ",np.round(np.mean(hours_sleep_neutral),2))

#so when the average sleep is more the steps count is high and active. when sleep is less so the steps_count is less

Average Sleep when mood is Happy-  5.72
Average Sleep when mood is Sad-  5.03
Average Sleep when mood is Neutral-  4.67